<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">

        </div>

        <ul class="nav navbar-nav">
            <li><a routerLink="/">Trainings</a></li>
            <li><a routerLink="/participants">Participants</a></li>
          </ul>
        </div>
      </nav>



<router-outlet></router-outlet>
